/* Estilo para os tópicos de seções */
.secao {
  background-color: #ffffff; /* Fundo branco */
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: transform 0.2s;
}

.secao:hover {
  transform: scale(1.02); /* Pequeno zoom ao passar o mouse */
}

.secao__titulo {
  font-size: 24px;
  margin-bottom: 0.8em;
  color: hsl(340, 100%, 50%); /* Rosa vibrante */
  text-align: center;
}

.secao__texto {
  font-size: 16px;
  color: #000000; /* Texto mais escuro */
  text-align: justify;
  line-height: 1.8;
}

.secao__imagem {
  width: 100%;
  margin-top: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
